webservices/webservices-client/src/main/resources/wsdl/v4_replication.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ReplicationService"
	targetNamespace="http://repl.v4.soap.webservices.oncourse.ish/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://repl.v4.soap.webservices.oncourse.ish/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://repl.v4.soap.webservices.oncourse.ish/"
			elementFormDefault="unqualified" targetNamespace="http://repl.v4.soap.webservices.oncourse.ish/"
			version="1.0">
			<xs:element name="attendance" type="tns:attendanceStub"/>
			<xs:element name="binaryData" type="tns:binaryDataStub"/>
			<xs:element name="binaryInfo" type="tns:binaryInfoStub"/>
			<xs:element name="contact" type="tns:contactStub"/>
			<xs:element name="course" type="tns:courseStub" />
			<xs:element name="courseClass" type="tns:courseClassStub" />
			<xs:element name="courseModule" type="tns:courseModuleStub" />
			<xs:element name="session" type="tns:sessionStub" />
			<xs:element name="sessionTutor" type="tns:sessionTutorStub" />
			<xs:element name="tutor" type="tns:tutorStub"/>
			<xs:complexType name="replicationResult">
				<xs:sequence>
					<xs:choice maxOccurs="unbounded" minOccurs="0">
						<xs:element ref="tns:attendance"/>
						<xs:element ref="tns:binaryData"/>
						<xs:element ref="tns:binaryInfo"/>
						<xs:element ref="tns:contact"/>
						<xs:element ref="tns:course" />
						<xs:element ref="tns:courseClass" />
						<xs:element ref="tns:courseModule" />
						<xs:element ref="tns:session" />
						<xs:element ref="tns:sessionTutor" />
						<xs:element ref="tns:tutor"/>
					</xs:choice>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="attendanceStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="attendanceType" type="xs:int"/>
							<xs:element name="created" type="xs:dateTime"/>
							<xs:element name="modified" type="xs:dateTime"/>
							<xs:element name="marker" type="tns:replicationStub"/>
							<xs:element name="session" type="tns:replicationStub"/>
							<xs:element name="student" type="tns:replicationStub"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="binaryDataStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="collegeId" type="xs:long"/>
							<xs:element name="content" type="xs:base64Binary"/>
							<xs:element name="created" type="xs:dateTime"/>
							<xs:element name="isDeleted" type="xs:short"/>
							<xs:element name="modified" type="xs:dateTime"/>
							<xs:element name="binaryInfo" type="tns:replicationStub"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="binaryInfoStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="byteSize" type="xs:long"/>
							<xs:element name="created" type="xs:dateTime"/>
							<xs:element name="isWebVisible" type="xs:boolean"/>
							<xs:element name="mimeType" type="xs:string"/>
							<xs:element name="modified" type="xs:dateTime"/>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="pixelHeight" type="xs:int"/>
							<xs:element name="pixelWidth" type="xs:int"/>
							<xs:element name="referenceNumber" type="xs:int"/>
							<xs:element name="binaryData" type="tns:replicationStub"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="contactStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
							<xs:sequence>
								<xs:element name="businessPhoneNumber" type="xs:string"/>
								<xs:element name="cookieHash" type="xs:string"/>
								<xs:element name="countryId" type="xs:long"/>
								<xs:element name="created" type="xs:dateTime"/>
								<xs:element name="dateOfBirth" type="xs:dateTime"/>
								<xs:element name="emailAddress" type="xs:string"/>
								<xs:element name="familyName" type="xs:string"/>
								<xs:element name="faxNumber" type="xs:string"/>
								<xs:element name="givenName" type="xs:string"/>
								<xs:element name="homePhoneNumber" type="xs:string"/>
								<xs:element name="isCompany" type="xs:boolean"/>
								<xs:element name="isMale" type="xs:boolean"/>
								<xs:element name="isMarketingViaEmailAllowed" type="xs:boolean"/>
								<xs:element name="isMarketingViaPostAllowed" type="xs:boolean"/>
								<xs:element name="isMarketingViaSMSAllowed" type="xs:boolean"/>
								<xs:element name="mobilePhoneNumber" type="xs:string"/>
								<xs:element name="modified" type="xs:dateTime"/>
								<xs:element name="password" type="xs:string"/>
								<xs:element name="passwordHash" type="xs:string"/>
								<xs:element name="postcode" type="xs:string"/>
								<xs:element name="state" type="xs:string"/>
								<xs:element name="street" type="xs:string"/>
								<xs:element name="suburb" type="xs:string"/>
								<xs:element name="taxFileNumber" type="xs:string"/>
								<xs:element name="uniqueCode" type="xs:string"/>
								<xs:element name="college" type="tns:replicationStub"/>
								<xs:element name="student" type="tns:replicationStub"/>
								<xs:element name="tutor" type="tns:replicationStub"/>
	 						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="courseStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="name" type="xs:string" />
							<xs:element name="detail" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType abstract="true" name="replicationStub">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="angelId" type="xs:long" />
					<xs:element minOccurs="1" maxOccurs="1" name="willowId" type="xs:long" />
					<xs:element name="state"  minOccurs="1" maxOccurs="1" type="tns:stubState"/>
				</xs:sequence>
			</xs:complexType>
			<xsd:simpleType name="stubState">
			    <xsd:restriction base="xsd:token">
			        <xsd:pattern value="FULL | HOLLOW | DELETED"/>
			    </xsd:restriction>
			</xsd:simpleType>
			<xs:complexType name="courseClassStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element minOccurs="0" name="code" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="courseModuleStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="sessionStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="sessionTutorStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="tutorStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="replicationRequest">
				<xs:sequence>
					<xs:choice maxOccurs="unbounded" minOccurs="0">
						<xs:element ref="tns:course" />
						<xs:element ref="tns:courseClass" />
						<xs:element ref="tns:courseModule" />
						<xs:element ref="tns:session" />
						<xs:element ref="tns:sessionTutor" />
					</xs:choice>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="sendRecords">
		<wsdl:part name="records" type="tns:replicationRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendRecordsResponse">
		<wsdl:part name="result" type="tns:replicationResult"/>
	</wsdl:message>
	<wsdl:message name="getRecordsResponse">
		<wsdl:part name="parameters" type="tns:replicationResult"/>
	</wsdl:message>
	<wsdl:message name="getRecords"/>
	<wsdl:portType name="ReplicationPortType">
		<wsdl:operation name="getRecords">
			<wsdl:input name="getRecords" message="tns:getRecords">
			</wsdl:input>
			<wsdl:output name="getRecordsResponse" message="tns:getRecordsResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendRecords">
			<wsdl:input name="sendRecords" message="tns:sendRecords">
			</wsdl:input>
			<wsdl:output name="sendRecordsResponse" message="tns:sendRecordsResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ReplicationServiceSoapBinding" type="tns:ReplicationPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getRecords">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getRecords">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getRecordsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendRecords">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sendRecords">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sendRecordsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ReplicationService">
		<wsdl:port name="ReplicationPort" binding="tns:ReplicationServiceSoapBinding">
			<soap:address location="http://localhost:9090/ReplicationPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
