common/webservices-client/src/main/resources/wsdl/v9_replication.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ReplicationService" targetNamespace="http://repl.v9.soap.webservices.oncourse.ish/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:tns="http://repl.v9.soap.webservices.oncourse.ish/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://repl.v9.soap.webservices.oncourse.ish/"
				   xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
				   xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance"
				   jaxb:extensionBindingPrefixes="inheritance"
				   elementFormDefault="unqualified"
				   targetNamespace="http://repl.v9.soap.webservices.oncourse.ish/" version="1.0">
			<xs:element name="replicationStub" type="tns:replicationStub"/>
			<xs:element name="aclAccessKey" type="tns:aclAccessKeyStub"/>
			<xs:element name="aclRole" type="tns:aclRoleStub"/>
			<!--xs:element name="aclRoleSystemUser" type="tns:aclRoleSystemUserStub"/-->
			<xs:element name="application" type="tns:applicationStub" />
			<xs:element name="attendance" type="tns:attendanceStub" />
			<xs:element name="binaryData" type="tns:binaryDataStub" />
			<xs:element name="binaryInfo" type="tns:binaryInfoStub" />
			<xs:element name="binaryInfoRelation" type="tns:binaryInfoRelationStub" />
			<xs:element name="certificate" type="tns:certificateStub" />
			<xs:element name="certificateOutcome" type="tns:certificateOutcomeStub" />
			<xs:element name="concessionType" type="tns:concessionTypeStub" />
			<xs:element name="contact" type="tns:contactStub" />
			<xs:element name="course" type="tns:courseStub" />
			<xs:element name="courseClass" type="tns:courseClassStub" />
			<xs:element name="courseClassTutor" type="tns:courseClassTutorStub" />
			<xs:element name="courseModule" type="tns:courseModuleStub" />
			<xs:element name="discount" type="tns:discountStub" />
			<xs:element name="discountConcessionType" type="tns:discountConcessionTypeStub" />
			<xs:element name="discountCourseClass" type="tns:discountCourseClassStub" />
			<xs:element name="discountMembership" type="tns:discountMembershipStub" />
			<xs:element name="discountMembershipRelationType" type="tns:discountMembershipRelationTypeStub" />
			<xs:element name="contactRelation" type="tns:contactRelationStub" />
			<xs:element name="contactRelationType" type="tns:contactRelationTypeStub" />
			<xs:element name="product" type="tns:productStub" />
			<xs:element name="articleProduct" type="tns:articleProductStub" />
			<xs:element name="membershipProduct" type="tns:membershipProductStub" />
			<xs:element name="voucherProduct" type="tns:voucherProductStub" />
			<xs:element name="productItem" type="tns:productItemStub" />
			<xs:element name="article" type="tns:articleStub" />
			<xs:element name="membership" type="tns:membershipStub" />
			<xs:element name="voucher" type="tns:voucherStub" />
			<xs:element name="voucherProductCourse" type="tns:voucherProductCourseStub" />
			<xs:element name="voucherPaymentIn" type="tns:voucherPaymentInStub" />
			<xs:element name="enrolment" type="tns:enrolmentStub" />
			<xs:element name="survey" type="tns:surveyStub" />
			<xs:element name="sessionModule" type="tns:sessionModuleStub" />
			<xs:element name="entityRelation" type="tns:entityRelationStub" />
			<xs:element name="corporatePass" type="tns:corporatePassStub" />
			<xs:element name="corporatePassCourseClass" type="tns:corporatePassCourseClassStub" />
			<xs:element name="corporatePassProduct" type="tns:corporatePassProductStub" />
			<xs:element name="message" type="tns:messageStub" />
			<xs:element name="messagePerson" type="tns:messagePersonStub" />
			<xs:element name="messageTemplate" type="tns:messageTemplateStub" />
			<xs:element name="invoice" type="tns:invoiceStub" />
			<xs:element name="invoiceLine" type="tns:invoiceLineStub" />
			<xs:element name="invoiceLineDiscount" type="tns:invoiceLineDiscountStub" />
			<xs:element name="outcome" type="tns:outcomeStub" />
			<xs:element name="paymentIn" type="tns:paymentInStub" />
			<xs:element name="paymentInLine" type="tns:paymentInLineStub" />
			<xs:element name="paymentOut" type="tns:paymentOutStub" />
			<xs:element name="preference" type="tns:preferenceStub" />
			<xs:element name="room" type="tns:roomStub" />
			<xs:element name="session" type="tns:sessionStub" />
			<xs:element name="tutorAttendance" type="tns:tutorAttendanceStub" />
			<xs:element name="site" type="tns:siteStub" />
			<xs:element name="student" type="tns:studentStub" />
			<xs:element name="studentConcession" type="tns:studentConcessionStub" />
			<xs:element name="systemUser" type="tns:systemUserStub" />
			<xs:element name="queuedStatistic" type="tns:queuedStatisticStub" />
			<xs:element name="tag" type="tns:tagStub" />
			<xs:element name="tagRelation" type="tns:tagRelationStub" />
			<xs:element name="tagRequirement" type="tns:tagRequirementStub" />
			<xs:element name="tutor" type="tns:tutorStub" />
			<xs:element name="waitingList" type="tns:waitingListStub" />
			<xs:element name="waitingListSite" type="tns:waitingListSiteStub" />
			<xs:element name="document" type="tns:documentStub"/>
			<xs:element name="documentVersion" type="tns:documentVersionStub"/>
			<xs:element name="customFieldType" type="tns:customFieldTypeStub"/>
			<xs:element name="customField" type="tns:customFieldStub"/>
			<xs:element name="hollow" type="tns:hollowStub" />
			<xs:element name="deleted" type="tns:deletedStub" />
			<xs:element name="confirmExecution" type="tns:confirmExecution" />
			<xs:element name="getInstructions" type="tns:getInstructions" />
			<xs:element name="getInstructionsResponse" type="tns:getInstructionsResponse" />
			<xs:element name="getUnreplicatedEntities" type="tns:getUnreplicatedEntities" />
			<xs:element name="getUnreplicatedEntitiesResponse" type="tns:getUnreplicatedEntitiesResponse" />
			<xs:element name="paymentStatusRequest" type="xs:string"/>
			<xs:element name="paymentStatusResponse" type="tns:transactionGroup"/>
			<xs:element name="refundRequest" type="tns:transactionGroup"/>
			<xs:element name="refundResponse" type="tns:transactionGroup"/>
			<xs:element name="paymentRequest" type="tns:transactionGroup"/>
			<xs:element name="paymentResponse" type="tns:transactionGroup"/>
			<xs:element name="voucherRequest" type="tns:transactionGroup"/>
			<xs:element name="voucherResponse" type="tns:transactionGroup"/>
			<xs:element name="sendRecordsRequest" type="tns:replicationRecords"/>
			<xs:element name="sendRecordsResponse" type="tns:replicationResult"/>
			<xs:element name="getRecordsResponse" type="tns:replicationRecords"/>
			<xs:element name="resultsRequest" type="tns:replicationResult"/>
			<xs:element name="resultsResponse" type="xs:int"/>
			<xs:element name="usiRequest" type="tns:ParametersMap"/>
			<xs:element name="usiResponse" type="tns:ParametersMap"/>
			<xs:element name="authSecurityCode" type="xs:string"/>
			<xs:element name="authLastCommunicationKey" type="xs:long"/>
			<xs:element name="authNewCommunicationKey" type="xs:long"/>
			<xs:element name="faultResponse" type="tns:FaultReason"/>

			<xs:simpleType name="errorCode">
				<xs:restriction base="xs:string">
					<xs:enumeration value="INVALID_SESSION"></xs:enumeration>
					<xs:enumeration value="INVALID_SECURITY_CODE"></xs:enumeration>
					<xs:enumeration value="EMPTY_COMMUNICATION_KEY"></xs:enumeration>
					<xs:enumeration value="HALT_COMMUNICATION_KEY"></xs:enumeration>
					<xs:enumeration value="INVALID_COMMUNICATION_KEY"></xs:enumeration>
					<xs:enumeration value="NO_KEYS"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="FaultReason">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="detailMessage"
								type="xs:string" />
					<xs:element minOccurs="0" maxOccurs="1" name="faultCode"
								type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="replicationRecords">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:extends>ish.oncourse.webservices.util.GenericReplicationRecords</inheritance:extends>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="groups" type="tns:transactionGroup"
								maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="transactionGroup">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:extends>ish.oncourse.webservices.util.GenericTransactionGroup</inheritance:extends>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="transactionKeys" type="xs:string" maxOccurs="unbounded" minOccurs="1"/>
					<xs:element ref="tns:replicationStub" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="replicationResult">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:extends>ish.oncourse.webservices.util.GenericReplicationResult</inheritance:extends>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="replicatedRecord" type="tns:replicatedRecord"
								maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="hollowStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="deletedStub">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:implements>ish.oncourse.webservices.util.GenericDeletedStub</inheritance:implements>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="replicatedRecord">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:extends>ish.oncourse.webservices.util.GenericReplicatedRecord</inheritance:extends>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="status" type="tns:status" />
					<xs:element name="message" type="xs:string" />
					<xs:element name="stub" type="tns:hollowStub" minOccurs="1"
								maxOccurs="1" />
				</xs:sequence>
			</xs:complexType>

			<xs:simpleType name="status">
				<xs:restriction base="xs:string">
					<xs:enumeration value="EMPTY_ANGELID"></xs:enumeration>
					<xs:enumeration value="EMPTY_WILLOWID"></xs:enumeration>
					<xs:enumeration value="UNIQUES_FAILURE"></xs:enumeration>
					<xs:enumeration value="WILLOWID_NOT_MATCH"></xs:enumeration>
					<xs:enumeration value="ANGELID_NOT_MATCH"></xs:enumeration>
					<xs:enumeration value="SUCCESS"></xs:enumeration>
					<xs:enumeration value="FAILED"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="aclRoleStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="name" type="xs:string" nillable="false"/>
							<xs:element name="roleSystemUserId" type="xs:long" nillable="false"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="aclAccessKeyStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="includesChildren" type="xs:boolean"/>
							<xs:element name="keycode" type="xs:long" nillable="false"/>
							<xs:element name="mask" type="xs:boolean" nillable="false"/>
							<xs:element name="roleId" type="xs:long" nillable="false"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="applicationStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="courseId" type="xs:long" nillable="false" />
							<xs:element name="studentId" type="xs:long" nillable="false" />
							<xs:element name="source" type="xs:string" nillable="false" />
							<xs:element name="status" type="xs:int" nillable="false" />
							<xs:element name="enrolBy" type="xs:dateTime" />
							<xs:element name="feeOverride" type="xs:decimal" />
							<xs:element name="reason" type="xs:string" />
							<xs:element name="confirmationStatus" type="xs:int"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="attendanceStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="attendanceType" type="xs:int" />
							<xs:element name="markerId" type="xs:long" nillable="false" />
							<xs:element name="sessionId" type="xs:long" nillable="false" />
							<xs:element name="studentId" type="xs:long" nillable="false" />
							<xs:element name="durationMinutes" type="xs:int" minOccurs="0" />
							<xs:element name="note" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="certificateStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="certificateNumber" type="xs:long" />
							<xs:element name="endDate" type="xs:dateTime" />
							<xs:element name="fundingSource" type="xs:int" />
							<xs:element name="qualification" type="xs:boolean" />
							<xs:element name="printedWhen" type="xs:dateTime" />
							<xs:element name="privateNotes" type="xs:string" />
							<xs:element name="publicNotes" type="xs:string" />
							<xs:element name="qualificationId" type="xs:long" />
							<xs:element name="revokedWhen" type="xs:dateTime" />
							<xs:element name="studentFirstName" type="xs:string" />
							<xs:element name="studentLastName" type="xs:string" />
							<xs:element name="studentId" type="xs:long" nillable="false" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="certificateOutcomeStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="certificateId" type="xs:long"
										nillable="false" />
							<xs:element name="outcomeId" type="xs:long" nillable="false" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="binaryDataStub">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:implements>ish.oncourse.webservices.util.GenericBinaryDataStub</inheritance:implements>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="content" type="xs:base64Binary" />
							<xs:element name="binaryInfoId" type="xs:long"
										nillable="false" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="binaryInfoStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="byteSize" type="xs:long" />
							<xs:element name="webVisible" type="xs:int"/>
							<xs:element name="mimeType" type="xs:string" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="pixelHeight" type="xs:int" />
							<xs:element name="pixelWidth" type="xs:int" />
							<xs:element name="referenceNumber" type="xs:int" />
							<xs:element name="fileUUID" type="xs:string" />
							<xs:element name="thumbnail" type="xs:base64Binary" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="binaryInfoRelationStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="entityAngelId" type="xs:long" />
							<xs:element name="entityWillowId" type="xs:long" />
							<xs:element name="entityName" type="xs:string" />
							<xs:element name="binaryInfoId" type="xs:long" />
							<xs:element name="specialType" type="xs:int" minOccurs="0" maxOccurs="1"/>
							<xs:element name="documentVersionId" type="xs:long" minOccurs="0" maxOccurs="1"/>
							<xs:element name="documentId" type="xs:long"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="documentStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="webVisible" type="xs:int"/>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="fileUUID" type="xs:string"/>
							<xs:element name="description" type="xs:string"/>
							<xs:element name="removed" type="xs:boolean"/>
							<xs:element name="shared" type="xs:boolean"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="documentVersionStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="byteSize" type="xs:long"/>
							<xs:element name="mimeType" type="xs:string"/>
							<xs:element name="fileName" type="xs:string"/>
							<xs:element name="pixelHeight" type="xs:int"/>
							<xs:element name="pixelWidth" type="xs:int"/>
							<xs:element name="thumbnail" type="xs:base64Binary"/>
							<xs:element name="versionId" type="xs:string"/>
							<xs:element name="timestamp" type="xs:dateTime"/>
							<xs:element name="documentId" type="xs:long"/>
							<xs:element name="description" type="xs:string"/>
							<xs:element name="createdByUserId" type="xs:long"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="concessionTypeStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="credentialExpiryDays" type="xs:int" />
							<xs:element name="hasConcessionNumber" type="xs:boolean" />
							<xs:element name="hasExpiryDate" type="xs:boolean" />
							<xs:element name="isConcession" type="xs:boolean" />
							<xs:element name="isEnabled" type="xs:boolean" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="requiresCredentialCheck" type="xs:boolean" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="contactStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="businessPhoneNumber" type="xs:string" />
							<xs:element name="cookieHash" type="xs:string" />
							<xs:element name="countryId" type="xs:long" />
							<xs:element name="dateOfBirth" type="xs:dateTime" />
							<xs:element name="emailAddress" type="xs:string" />
							<xs:element name="familyName" type="xs:string" />
							<xs:element name="faxNumber" type="xs:string" />
							<xs:element name="givenName" type="xs:string" />
							<xs:element name="homePhoneNumber" type="xs:string" />
							<xs:element name="company" type="xs:boolean" />
							<xs:element name="male" type="xs:boolean" />
							<xs:element name="marketingViaEmailAllowed" type="xs:boolean" />
							<xs:element name="marketingViaPostAllowed" type="xs:boolean" />
							<xs:element name="marketingViaSMSAllowed" type="xs:boolean" />
							<xs:element name="mobilePhoneNumber" type="xs:string" />
							<xs:element name="password" type="xs:string" />
							<xs:element name="passwordHash" type="xs:string" />
							<xs:element name="postcode" type="xs:string" />
							<xs:element name="state" type="xs:string" />
							<xs:element name="street" type="xs:string" />
							<xs:element name="suburb" type="xs:string" />
							<xs:element name="taxFileNumber" type="xs:string" />
							<xs:element name="uniqueCode" type="xs:string" />
							<xs:element name="studentId" type="xs:long" />
							<xs:element name="tutorId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="courseStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="allowWaitingList" type="xs:boolean" />
							<xs:element name="code" type="xs:string" />
							<xs:element name="detail" type="xs:string" />
							<xs:element name="detailTextile" type="xs:string" />
							<xs:element name="fieldOfEducation" type="xs:string" />
							<xs:element name="sufficientForQualification" type="xs:boolean" />
							<xs:element name="VETCourse" type="xs:boolean" />
							<xs:element name="webVisible" type="xs:boolean" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="nominalHours" type="xs:decimal" />
							<xs:element name="searchText" type="xs:string" />
							<xs:element name="qualificationId" type="xs:long" />
							<xs:element name="enrolmentType" type="xs:int" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="courseClassStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="cancelled" type="xs:boolean" />
							<xs:element name="code" type="xs:string" />
							<xs:element name="countOfSessions" type="xs:int" />
							<xs:element name="deliveryMode" type="xs:int" />
							<xs:element name="detail" type="xs:string" />
							<xs:element name="detailTextile" type="xs:string" />
							<xs:element name="endDate" type="xs:dateTime" />
							<xs:element name="feeExGst" type="xs:decimal" />
							<xs:element name="feeGst" type="xs:decimal" />
							<xs:element name="webVisible" type="xs:boolean" />
							<xs:element name="materials" type="xs:string" />
							<xs:element name="materialsTextile" type="xs:string" />
							<xs:element name="maximumPlaces" type="xs:int" />
							<xs:element name="minimumPlaces" type="xs:int" />
							<xs:element name="minutesPerSession" type="xs:int" />
							<xs:element name="sessionDetail" type="xs:string" />
							<xs:element name="sessionDetailTextile" type="xs:string" />
							<xs:element name="startDate" type="xs:dateTime" />
							<xs:element name="startingMinutePerSession" type="xs:int" />
							<xs:element name="timeZone" type="xs:string" />
							<xs:element name="courseId" type="xs:long" />
							<xs:element name="roomId" type="xs:long" />
							<xs:element name="maximumDays" type="xs:int"/>
							<xs:element name="expectedHours" type="xs:decimal"/>
							<xs:element name="distantLearningCourse" type="xs:boolean"/>
							<xs:element name="feeHelpClass" type="xs:boolean"/>
							<xs:element name="attendanceType" type="xs:int"/>
							<xs:element name="reportingPeriod" type="xs:int"/>
							<xs:element name="censusDate" type="xs:dateTime"/>
							<xs:element name="fullTimeLoad" type="xs:string" />
							<xs:element name="minStudentAge" type="xs:int"/>
							<xs:element name="maxStudentAge" type="xs:int"/>
							<xs:element name="active" type="xs:boolean"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="courseClassTutorStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="courseClassId" type="xs:long" />
							<xs:element name="tutorId" type="xs:long" />
							<xs:element name="confirmedOn" type="xs:dateTime" />
							<xs:element name="inPublicity" type="xs:boolean" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="courseModuleStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="courseId" type="xs:long" />
							<xs:element name="moduleId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="discountStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="code" type="xs:string" />
							<xs:element name="combinationType" type="xs:boolean" />
							<xs:element name="detail" type="xs:string" />
							<xs:element name="discountAmount" type="xs:decimal" />
							<xs:element name="discountRate" type="xs:decimal" />
							<!--xs:element name="codeRequired" type="xs:boolean" /-->
							<xs:element name="maximumDiscount" type="xs:decimal" />
							<xs:element name="minimumDiscount" type="xs:decimal" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="roundingMode" type="xs:int" />
							<xs:element name="studentAge" type="xs:int" />
							<xs:element name="studentAgeOperator" type="xs:string" />
							<xs:element name="studentEnrolledWithinDays" type="xs:int" />
							<xs:element name="studentPostcodes" type="xs:string" />
							<xs:element name="validFrom" type="xs:dateTime" />
							<xs:element name="validTo" type="xs:dateTime" />
							<xs:element name="discountType" type="xs:int" />
							<xs:element name="hideOnWeb" type="xs:boolean"/>
							<xs:element name="availableOnWeb" type="xs:boolean"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="discountMembershipStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="applyToMemberOnly" type="xs:boolean" nillable="false"/>
							<xs:element name="discountId" type="xs:long" nillable="false"/>
							<xs:element name="membershipProductId" type="xs:long" nillable="false"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="discountMembershipRelationTypeStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="contactRelationTypeId" type="xs:long" />
							<xs:element name="membershipDiscountId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="contactRelationStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="fromContactId" type="xs:long" nillable="false"/>
							<xs:element name="toContactId" type="xs:long" nillable="false"/>
							<xs:element name="typeId" type="xs:long" nillable="false"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="contactRelationTypeStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="fromContactName" type="xs:string" nillable="false"/>
							<xs:element name="toContactName" type="xs:string" nillable="false"/>
							<xs:element name="delegatedAccessToContact" type="xs:int" nillable="true"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="voucherProductCourseStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="courseId" type="xs:long" nillable="false"/>
							<xs:element name="voucherProductId" type="xs:long" nillable="false"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="productStub" abstract="false">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="sku" type="xs:string"/>
							<xs:element name="description" type="xs:string"/>
							<xs:element name="incomeAccountId" type="xs:long" nillable="false"/>
							<xs:element name="isOnSale" type="xs:boolean" nillable="false"/>
							<xs:element name="isWebVisible" type="xs:boolean" nillable="false"/>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="notes" type="xs:string"/>
							<xs:element name="priceExTax" type="xs:decimal" nillable="false"/>
							<xs:element name="taxAmount" type="xs:decimal" nillable="false"/>
							<xs:element name="taxAdjustment" type="xs:decimal" nillable="false"/>
							<xs:element name="taxId" type="xs:long" nillable="false"/>
							<xs:element name="type" type="xs:int" nillable="false"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="articleProductStub">
				<xs:complexContent>
					<xs:extension base="tns:productStub">
						<xs:sequence>
							<xs:element name="weight" type="xs:double" nillable="true"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="membershipProductStub">
				<xs:complexContent>
					<xs:extension base="tns:productStub">
						<xs:sequence>
							<xs:element name="expiryDays" type="xs:int" nillable="true"/>
							<xs:element name="expiryType" type="xs:int" nillable="true"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="voucherProductStub">
				<xs:complexContent>
					<xs:extension base="tns:productStub">
						<xs:sequence>
							<xs:element name="expiryDays" type="xs:int" nillable="true"/>
							<xs:element name="expiryType" type="xs:int" nillable="true"/>
							<xs:element name="value" type="xs:decimal" nillable="true"/>
							<xsd:element name="maxCoursesRedemption" type="xs:int" nillable="true"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="productItemStub" abstract="false">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="type" type="xs:int" nillable="false"/>
							<xs:element name="invoiceLineId" type="xs:long" nillable="false"/>
							<xs:element name="productId" type="xs:long" nillable="false"/>
							<xs:element name="status" type="xs:int" />
							<xs:element name="confirmationStatus" type="xs:int"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="articleStub">
				<xs:complexContent>
					<xs:extension base="tns:productItemStub">
						<xs:sequence>
							<xs:element name="contactId" type="xs:long" nillable="true"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="membershipStub">
				<xs:complexContent>
					<xs:extension base="tns:productItemStub">
						<xs:sequence>
							<xs:element name="expiryDate" type="xs:dateTime" nillable="false"/>
							<xs:element name="contactId" type="xs:long" nillable="true"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="voucherStub">
				<xs:complexContent>
					<xs:extension base="tns:productItemStub">
						<xs:sequence>
							<xs:element name="expiryDate" type="xs:dateTime" nillable="false"/>
							<xs:element name="key" type="xs:string"/>
							<xs:element name="contactId" type="xs:long" nillable="true"/>
							<xs:element name="code" type="xs:string"/>
							<xs:element name="redeemedCoursesCount" type="xs:int"/>
							<xs:element name="redemptionValue" type="xs:decimal" />
							<xs:element name="source" type="xs:string" />
							<xs:element name="valueOnPurchase" type="xs:decimal"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="voucherPaymentInStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="paymentInId" type="xs:long" nillable="false"/>
							<xs:element name="voucherId" type="xs:long" nillable="false"/>
							<xs:element name="enrolmentsCount" type="xs:int" nillable="true"/>
							<xs:element name="status" type="xs:int" />
							<xs:element name="invoiceLineId" type="xs:long" nillable="false"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>


			<xs:complexType name="discountConcessionTypeStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="concessionTypeId" type="xs:long" />
							<xs:element name="discountId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="discountCourseClassStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="courseClassId" type="xs:long" />
							<xs:element name="discountId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="enrolmentStub">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:implements>ish.oncourse.webservices.util.GenericEnrolmentStub</inheritance:implements>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="reasonForStudy" type="xs:int" />
							<xs:element name="source" type="xs:string" />
							<xs:element name="status" type="xs:string" />
							<xs:element name="studentId" type="xs:long" />
							<xs:element name="courseClassId" type="xs:long" />
							<xs:element name="invoiceLineId" type="xs:long" />
							<xs:element name="feeHelpStatus" type="xs:int" />
							<xs:element name="creditOfferedValue" type="xs:string" />
							<xs:element name="creditProvider" type="xs:string" />
							<xs:element name="creditUsedValue" type="xs:string" />
							<xs:element name="creditType" type="xs:int" />
							<xs:element name="creditFoeId" type="xs:string" />
							<xs:element name="creditLevel" type="xs:int" />
							<xs:element name="creditProviderType" type="xs:int" />
							<xs:element name="feeStatus" type="xs:int" />
							<xs:element name="creditTotal" type="xs:int" />
							<xs:element name="feeHelpAmount" type="xs:decimal"/>
							<xs:element name="confirmationStatus" type="xs:int"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="surveyStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="comment" type="xs:string" />
							<xs:element name="courseScore" type="xs:int" />
							<xs:element name="tutorScore" type="xs:int" />
							<xs:element name="venueScore" type="xs:int" />
							<xs:element name="uniqueCode" type="xs:string" />
							<xs:element name="enrolmentId" type="xs:long" />
							<xs:element name="publicComment" type="xs:boolean"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="sessionModuleStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="moduleId" type="xs:long" />
							<xs:element name="sessionId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="entityRelationStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="fromEntityIdentifier" type="xs:int" />
							<xs:element name="toEntityIdentifier" type="xs:int" />
							<xs:element name="fromEntityAngelId" type="xs:long" />
							<xs:element name="fromEntityWillowId" type="xs:long" />
							<xs:element name="toEntityAngelId" type="xs:long" />
							<xs:element name="toEntityWillowId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="corporatePassStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="contactId" type="xs:long" />
							<xs:element name="expiryDate" type="xs:dateTime" />
							<xs:element name="invoiceEmail" type="xs:string" />
							<xs:element name="password" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="corporatePassCourseClassStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="corporatePassId" type="xs:long" />
							<xs:element name="courseClassId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="corporatePassProductStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="corporatePassId" type="xs:long" />
							<xs:element name="productId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="messageStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="emailBody" type="xs:string" />
							<xs:element name="emailSubject" type="xs:string" />
							<xs:element name="smsText" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="messagePersonStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="destinationAddress" type="xs:string" />
							<xs:element name="numberOfAttempts" type="xs:int" />
							<xs:element name="response" type="xs:string" />
							<xs:element name="status" type="xs:int" />
							<xs:element name="timeOfDelivery" type="xs:dateTime" />
							<xs:element name="type" type="xs:int" />
							<xs:element name="contactId" type="xs:long" />
							<xs:element name="messageId" type="xs:long" />
							<xs:element name="studentId" type="xs:long" />
							<xs:element name="tutorId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="messageTemplateStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="name" type="xs:string" />
							<xs:element name="subject" type="xs:string" />
							<xs:element name="message" type="xs:string" />
							<xs:element name="type" type="xs:int" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="invoiceStub">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:implements>ish.oncourse.webservices.util.GenericInvoiceStub</inheritance:implements>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="amountOwing" type="xs:decimal" />
							<xs:element name="billToAddress" type="xs:string" />
							<xs:element name="customerPO" type="xs:string" />
							<xs:element name="customerReference" type="xs:string" />
							<xs:element name="dateDue" type="xs:dateTime" />
							<xs:element name="description" type="xs:string" />
							<xs:element name="invoiceDate" type="xs:dateTime" />
							<xs:element name="invoiceNumber" type="xs:long" />
							<xs:element name="publicNotes" type="xs:string" />
							<xs:element name="shippingAddress" type="xs:string" />
							<xs:element name="source" type="xs:string" />
							<xs:element name="status" type="xs:string" />
							<xs:element name="totalExGst" type="xs:decimal" />
							<xs:element name="totalGst" type="xs:decimal" />
							<xs:element name="contactId" type="xs:long" />
							<xs:element name="corporatePassId" type="xs:long" />
							<xs:element name="confirmationStatus" type="xs:int"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="invoiceLineStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="description" type="xs:string" />
							<xs:element name="discountEachExTax" type="xs:decimal"
										nillable="false" />
							<xs:element name="priceEachExTax" type="xs:decimal" />
							<xs:element name="quantity" type="xs:decimal" />
							<xs:element name="taxEach" type="xs:decimal" />
							<xs:element name="title" type="xs:string" />
							<xs:element name="unit" type="xs:string" />
							<xs:element name="enrolmentId" type="xs:long" />
							<xs:element name="invoiceId" type="xs:long" />
							<xs:element name="sortOrder" type="xs:int" nillable="false" minOccurs="0"/>
							<xs:element name="courseClassId" type="xs:long"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="invoiceLineDiscountStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="discountId" type="xs:long" />
							<xs:element name="invoiceLineId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="roomStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="capacity" type="xs:int" />
							<xs:element name="directions" type="xs:string" />
							<xs:element name="directionsTextile" type="xs:string" />
							<xs:element name="facilities" type="xs:string" />
							<xs:element name="facilitiesTextile" type="xs:string" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="siteId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="siteStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="drivingDirections" type="xs:string" />
							<xs:element name="webVisible" type="xs:boolean" />
							<xs:element name="latitude" type="xs:decimal" />
							<xs:element name="longitude" type="xs:decimal" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="postcode" type="xs:string" />
							<xs:element name="publicTransportDirections" type="xs:string" />
							<xs:element name="specialInstructions" type="xs:string" />
							<xs:element name="state" type="xs:string" />
							<xs:element name="street" type="xs:string" />
							<xs:element name="suburb" type="xs:string" />
							<xs:element name="timeZone" type="xs:string" />
							<xs:element name="countryId" type="xs:long" />
							<xs:element name="virtual" type="xs:boolean"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="replicationStub" abstract="true">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:extends>ish.oncourse.webservices.util.GenericReplicationStub</inheritance:extends>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="angelId"
								type="xs:long" />
					<xs:element minOccurs="1" maxOccurs="1" name="willowId"
								type="xs:long" />
					<xs:element name="entityIdentifier" type="xs:string"
								minOccurs="1" maxOccurs="1" nillable="false" />
					<xs:element name="created" type="xs:dateTime" minOccurs="1"
								maxOccurs="1" />
					<xs:element name="modified" type="xs:dateTime"
								minOccurs="1" maxOccurs="1" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="outcomeStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="deliveryMode" type="xs:int" />
							<xs:element name="fundingSource" type="xs:int" />
							<xs:element name="reportableHours" type="xs:decimal" />
							<xs:element name="hoursAttended" type="xs:int" />
							<xs:element name="enrolmentId" type="xs:long" />
							<xs:element name="moduleId" type="xs:long" />
							<xs:element name="startDate" type="xs:dateTime" />
							<xs:element name="endDate" type="xs:dateTime" />
							<xs:element name="status" type="xs:int" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="paymentInStub">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:implements>ish.oncourse.webservices.util.GenericPaymentInStub</inheritance:implements>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="amount" type="xs:decimal" />
							<xs:element name="contactId" type="xs:long" />
							<xs:element name="source" type="xs:string" />
							<xs:element name="status" type="xs:int" />
							<xs:element name="type" type="xs:int" />
							<xs:element name="privateNotes" type="xs:string" />
							<xs:element name="gatewayReference" type="xs:string" />
							<xs:element name="gatewayResponse" type="xs:string" />
							<xs:element name="sessionId" type="xs:string" />
							<xs:element name="creditCardExpiry" type="xs:string" />
							<xs:element name="creditCardName" type="xs:string" />
							<xs:element name="creditCardNumber" type="xs:string" />
							<xs:element name="creditCardType" type="xs:string" />
							<xs:element name="dateBanked" type="xs:dateTime" />
							<xs:element name="confirmationStatus" type="xs:int"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="paymentOutStub">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:implements>ish.oncourse.webservices.util.GenericPaymentOutStub</inheritance:implements>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="amount" type="xs:decimal" />
							<xs:element name="contactId" type="xs:long" />
							<xs:element name="paymentInTxnReference" type="xs:string" />
							<xs:element name="type" type="xs:int" />
							<xs:element name="source" type="xs:string" />
							<xs:element name="status" type="xs:int" />
							<xs:element name="dateBanked" type="xs:dateTime" />
							<xs:element name="datePaid" type="xs:dateTime" />
							<xs:element name="confirmationStatus" type="xs:int"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="paymentInLineStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="amount" type="xs:decimal" />
							<xs:element name="invoiceId" type="xs:long" />
							<xs:element name="paymentInId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="preferenceStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="name" type="xs:string" />
							<xs:element name="value" type="xsd:base64Binary" />
							<xs:element name="valueString" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="sessionStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="endDate" type="xs:dateTime" />
							<xs:element name="startDate" type="xs:dateTime" />
							<xs:element name="timeZone" type="xs:string" />
							<xs:element name="courseClassId" type="xs:long" />
							<xs:element name="markerId" type="xs:long" />
							<xs:element name="roomId" type="xs:long" />
							<xs:element name="oldTutorId" type="xs:long" />
							<xs:element name="payAdjustment" type="xs:int" />
							<xs:element name="privateNotes" type="xs:string" />
							<xs:element name="publicNotes" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<!--xs:complexType name="sessionTutorStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="sessionId" type="xs:long" />
							<xs:element name="tutorId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType-->

			<xs:complexType name="tutorAttendanceStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="attendanceType" type="xs:int" />
							<xs:element name="sessionId" type="xs:long" />
							<xs:element name="tutorId" type="xs:long" />
							<xs:element name="durationMinutes" type="xs:int" />
							<xs:element name="note" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>


			<xs:complexType name="studentStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="concessionType" type="xs:int"/>
							<xs:element name="disabilityType" type="xs:int"/>
							<xs:element name="englishProficiency" type="xs:int"/>
							<xs:element name="highestSchoolLevel" type="xs:int"/>
							<xs:element name="indigenousStatus" type="xs:int"/>
							<xs:element name="overseasClient" type="xs:boolean"/>
							<xs:element name="stillAtSchool" type="xs:boolean"/>
							<xs:element name="labourForceType" type="xs:int"/>
							<xs:element name="priorEducationCode" type="xs:int"/>
							<xs:element name="yearSchoolCompleted" type="xs:int"/>
							<xs:element name="contactId" type="xs:long"/>
							<xs:element name="languageId" type="xs:long"/>
							<xs:element name="countryOfBirthId" type="xs:long"/>
							<xs:element name="languageHomeId" type="xs:long"/>
							<xs:element name="chessn" type="xs:string"/>
							<xs:element name="feeHelpEligible" type="xs:boolean"/>
							<xs:element name="specialNeedsAssistance" type="xs:boolean"/>
							<xs:element name="citizenship" type="xs:int"/>
							<xs:element name="specialNeeds" type="xs:string"/>
							<xs:element name="townOfBirth" type="xs:string"/>
							<xs:element name="usi" type="xs:string"/>
							<xs:element name="usiStatus" type="xs:int"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="studentConcessionStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="authorisationExpiresOn" type="xs:dateTime" />
							<xs:element name="authorisedOn" type="xs:dateTime" />
							<xs:element name="concessionNumber" type="xs:string" />
							<xs:element name="expiresOn" type="xs:dateTime" />
							<xs:element name="timeZone" type="xs:string" />
							<xs:element name="concessionTypeId" type="xs:long" />
							<xs:element name="studentId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="systemUserStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="editCMS" type="xs:boolean" />
							<xs:element name="editTara" type="xs:boolean" />
							<xs:element name="email" type="xs:string" />
							<xs:element name="firstName" type="xs:string" />
							<xs:element name="surname" type="xs:string" />
							<xs:element name="password" type="xs:string" />
							<xs:element name="login" type="xs:string" />
							<xs:element name="lastLoginIP" type="xs:string" />
							<xs:element name="lastLoginOn" type="xs:dateTime" />
							<xs:element name="isActive" type="xs:boolean" />
							<xs:element name="isAdmin" type="xs:boolean" />
							<xs:element name="defaultAdministrationCentreId" type="xs:long" />
							<!--xs:element name="roleSystemUserId" type="xs:long" nillable="false"/-->
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="queuedStatisticStub">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:implements>ish.oncourse.webservices.util.GenericQueuedStatisticStub</inheritance:implements>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="stackedTransactionsCount" type="xs:long" />
							<xs:element name="stackedCount" type="xs:long" />
							<xs:element name="stackedEntityIdentifier" type="xs:string" />
							<xs:element name="receivedTimestamp" type="xs:dateTime" />
							<xs:element name="cleanupStub" type="xs:boolean" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="tagStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="detail" type="xs:string" />
							<xs:element name="detailTextile" type="xs:string" />
							<xs:element name="tagGroup" type="xs:boolean" />
							<xs:element name="webVisible" type="xs:boolean" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="nodeType" type="xs:int" />
							<xs:element name="shortName" type="xs:string" />
							<xs:element name="weighting" type="xs:int" />
							<xs:element name="parentId" type="xs:long" />
							<xs:element name="specialType" type="xs:int" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="tagRequirementStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="tagId" type="xs:long" />
							<xs:element name="entityName" type="xs:string" />
							<xs:element name="required" type="xs:boolean" />
							<xs:element name="manyTermsAllowed" type="xs:boolean" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="tagRelationStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="entityAngelId" type="xs:long" />
							<xs:element name="entityName" type="xs:string" />
							<xs:element name="entityWillowId" type="xs:long" />
							<xs:element name="tagId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="tutorStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="finishDate" type="xs:dateTime" />
							<xs:element name="resume" type="xs:string" />
							<xs:element name="resumeTextile" type="xs:string" />
							<xs:element name="startDate" type="xs:dateTime" />
							<xs:element name="contactId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="waitingListStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="detail" type="xs:string" />
							<xs:element name="studentCount" type="xs:int" />
							<xs:element name="courseId" type="xs:long" />
							<xs:element name="studentId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="waitingListSiteStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="waitingListId" type="xs:long" />
							<xs:element name="siteId" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="customFieldTypeStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="defaultValue" type="xs:string"/>
							<xs:element name="mandatory" type="xs:boolean"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="customFieldStub">
				<xs:complexContent>
					<xs:extension base="tns:replicationStub">
						<xs:sequence>
							<xs:element name="customFieldTypeId" type="xs:long"/>
							<xs:element name="foreignId" type="xs:long"/>
							<xs:element name="value" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="confirmExecution">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="message" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getInstructions">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="getUnreplicatedEntities">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="getUnreplicatedEntitiesResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
								type="tns:UnreplicatedEntitiesStub" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="UnreplicatedEntitiesStub">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:extends>ish.oncourse.webservices.util.GenericUnreplicatedEntitiesStub</inheritance:extends>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element name="message" type="xs:string" />
					<xs:element minOccurs="0" name="parameters" type="tns:ParametersMap" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getInstructionsResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
								type="tns:InstructionStub" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="InstructionStub">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:extends>ish.oncourse.webservices.util.GenericInstructionStub</inheritance:extends>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element name="message" type="xs:string" />
					<xs:element minOccurs="0" name="parameters" type="tns:ParametersMap" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ParametersMap">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:extends>ish.oncourse.webservices.util.GenericParametersMap</inheritance:extends>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="entry"
								type="tns:ParameterEntry" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ParameterEntry">
				<xs:annotation>
					<xs:appinfo>
						<inheritance:extends>ish.oncourse.webservices.util.GenericParameterEntry</inheritance:extends>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="name" type="xs:string" />
					<xs:element name="value" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>

	<wsdl:message name="sendRecords">
		<wsdl:part name="records" element="tns:sendRecordsRequest"/>
	</wsdl:message>

	<wsdl:message name="sendRecordsResponse">
		<wsdl:part name="result" element="tns:sendRecordsResponse"/>
	</wsdl:message>

	<wsdl:message name="getRecordsResponse">
		<wsdl:part name="parameters" element="tns:getRecordsResponse" />
	</wsdl:message>

	<wsdl:message name="getRecords"/>

	<wsdl:message name="sendResultsRequest">
		<wsdl:part name="replResult" element="tns:resultsRequest"/>
	</wsdl:message>

	<wsdl:message name="sendResultsResponse">
		<wsdl:part name="numberUpdated" element="tns:resultsResponse" />
	</wsdl:message>

	<wsdl:message name="processPaymentRequest">
		<wsdl:part name="transaction" element="tns:paymentRequest" />
	</wsdl:message>

	<wsdl:message name="processPaymentResponse">
		<wsdl:part name="transactionGroup" element="tns:paymentResponse" />
	</wsdl:message>

	<wsdl:message name="processRefundRequest">
		<wsdl:part name="paymentOut" element="tns:refundRequest" />
	</wsdl:message>

	<wsdl:message name="processRefundResponse">
		<wsdl:part name="transactionGroup" element="tns:refundResponse" />
	</wsdl:message>

	<wsdl:message name="getPaymentStatusRequest">
		<wsdl:part name="sessionId" element="tns:paymentStatusRequest" />
	</wsdl:message>

	<wsdl:message name="getPaymentStatusResponse">
		<wsdl:part name="transactionGroup" element="tns:paymentStatusResponse" />
	</wsdl:message>

	<wsdl:message name="getVouchersRequest">
		<wsdl:part name="transactionRequest" element="tns:voucherRequest"/>
	</wsdl:message>

	<wsdl:message name="getVouchersResponse">
		<wsdl:part name="transactionResponse" element="tns:voucherResponse"/>
	</wsdl:message>

	<wsdl:message name="replicationFault">
		<wsdl:part name="faultReason" element="tns:faultResponse" />
	</wsdl:message>

	<wsdl:message name="authenticateRequest">
		<wsdl:part name="securityCode" element="tns:authSecurityCode" />
		<wsdl:part name="lastCommunicationKey" element="tns:authLastCommunicationKey" />
	</wsdl:message>

	<wsdl:message name="authenticateResponse">
		<wsdl:part name="newCommunicationKey" element="tns:authNewCommunicationKey" />
	</wsdl:message>

	<wsdl:message name="authFailure">
		<wsdl:part name="errorCode" type="tns:errorCode" />
	</wsdl:message>

	<wsdl:message name="getInstructions">
		<wsdl:part element="tns:getInstructions" name="parameters" />
	</wsdl:message>

	<wsdl:message name="confirmExecution">
		<wsdl:part element="tns:confirmExecution" name="parameters" />
	</wsdl:message>

	<wsdl:message name="getInstructionsResponse">
		<wsdl:part element="tns:getInstructionsResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="getUnreplicatedEntities">
		<wsdl:part element="tns:getUnreplicatedEntities" name="parameters" />
	</wsdl:message>

	<wsdl:message name="getUnreplicatedEntitiesResponse">
		<wsdl:part element="tns:getUnreplicatedEntitiesResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="verifyUSIRequest">
		<wsdl:part name="verificationRequest" element="tns:usiRequest"/>
	</wsdl:message>

	<wsdl:message name="verifyUSIResponse">
		<wsdl:part name="verificationResponse" element="tns:usiResponse"/>
	</wsdl:message>

	<wsdl:portType name="ReplicationPortType">

		<wsdl:operation name="getRecords">
			<wsdl:input name="getRecords" message="tns:getRecords">
			</wsdl:input>
			<wsdl:output name="getRecordsResponse" message="tns:getRecordsResponse">
			</wsdl:output>
			<wsdl:fault name="fault" message="tns:replicationFault" />
		</wsdl:operation>

		<wsdl:operation name="sendRecords">
			<wsdl:input name="sendRecords" message="tns:sendRecords">
			</wsdl:input>
			<wsdl:output name="sendRecordsResponse" message="tns:sendRecordsResponse">
			</wsdl:output>
			<wsdl:fault name="fault" message="tns:replicationFault" />
		</wsdl:operation>

		<wsdl:operation name="sendResults">
			<wsdl:input name="sendResultsRequest" message="tns:sendResultsRequest">
			</wsdl:input>
			<wsdl:output name="sendResultsResponse" message="tns:sendResultsResponse">
			</wsdl:output>
			<wsdl:fault name="fault" message="tns:replicationFault" />
		</wsdl:operation>

		<wsdl:operation name="authenticate">
			<wsdl:input name="authenticateRequest" message="tns:authenticateRequest" />
			<wsdl:output name="authenticateResponse" message="tns:authenticateResponse" />
			<wsdl:fault name="fault" message="tns:authFailure"/>
		</wsdl:operation>

		<wsdl:operation name="confirmExecution">
			<wsdl:input message="tns:confirmExecution" name="confirmExecution" />
		</wsdl:operation>

		<wsdl:operation name="getInstructions">
			<wsdl:input message="tns:getInstructions" name="getInstructions" />
			<wsdl:output message="tns:getInstructionsResponse" name="getInstructionsResponse" />
		</wsdl:operation>

		<wsdl:operation name="getUnreplicatedEntities">
			<wsdl:input message="tns:getUnreplicatedEntities" name="getUnreplicatedEntities" />
			<wsdl:output message="tns:getUnreplicatedEntitiesResponse" name="getUnreplicatedEntitiesResponse" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:portType name="PaymentPortType">

		<wsdl:operation name="processPayment">
			<wsdl:input name="processPaymentRequest" message="tns:processPaymentRequest" />
			<wsdl:output name="processPaymentResponse" message="tns:processPaymentResponse" />
			<wsdl:fault name="fault" message="tns:replicationFault" />
		</wsdl:operation>

		<wsdl:operation name="processRefund">
			<wsdl:input name="processRefundRequest" message="tns:processRefundRequest" />
			<wsdl:output name="processRefundResponse" message="tns:processRefundResponse" />
			<wsdl:fault name="fault" message="tns:replicationFault" />
		</wsdl:operation>

		<wsdl:operation name="getPaymentStatus">
			<wsdl:input name="getPaymentStatusRequest" message="tns:getPaymentStatusRequest" />
			<wsdl:output name="getPaymentStatusResponse" message="tns:getPaymentStatusResponse" />
			<wsdl:fault name="fault" message="tns:replicationFault" />
		</wsdl:operation>

		<wsdl:operation name="getVouchers">
			<wsdl:input name="getVouchersRequest" message="tns:getVouchersRequest"/>
			<wsdl:output name="getVouchersResponse" message="tns:getVouchersResponse"/>
			<wsdl:fault name="fault" message="tns:replicationFault"/>
		</wsdl:operation>

		<wsdl:operation name="verifyUSI">
			<wsdl:input message="tns:verifyUSIRequest" name="verifyUSIRequest"/>
			<wsdl:output message="tns:verifyUSIResponse" name="verifyUSIResponse"/>
			<wsdl:fault name="fault" message="tns:replicationFault"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ReplicationServiceSoapBinding" type="tns:ReplicationPortType">
		<soap:binding style="document"
					  transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="getRecords">
			<soap:operation soapAction="getRecords" style="document" />
			<wsdl:input name="getRecords">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getRecordsResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="sendRecords">
			<soap:operation soapAction="sendRecords" style="document" />
			<wsdl:input name="sendRecords">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sendRecordsResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="sendResults">
			<soap:operation soapAction="sendResults" style="document" />
			<wsdl:input name="sendResultsRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sendResultsResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="authenticate">
			<soap:operation soapAction="authenticate" style="document" />
			<wsdl:input name="authenticateRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="authenticateResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="confirmExecution">
			<soap:operation soapAction="confirmExecution" style="document" />
			<wsdl:input name="confirmExecution">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>

		<wsdl:operation name="getInstructions">
			<soap:operation soapAction="getInstructions" style="document" />
			<wsdl:input name="getInstructions">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getInstructionsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getUnreplicatedEntities">
			<soap:operation soapAction="getUnreplicatedEntities" style="document"/>
			<wsdl:input name="getUnreplicatedEntities">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getUnreplicatedEntitiesResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:binding name="PaymentServiceSoapBinding" type="tns:PaymentPortType">

		<soap:binding style="document"
					  transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="processPayment">
			<soap:operation soapAction="processPayment" style="document" />
			<wsdl:input name="processPaymentRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="processPaymentResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="processRefund">
			<soap:operation soapAction="processRefund" style="document" />
			<wsdl:input name="processRefundRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="processRefundResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getPaymentStatus">
			<soap:operation soapAction="getPaymentStatus" style="document" />
			<wsdl:input name="getPaymentStatusRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getPaymentStatusResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getVouchers">
			<soap:operation soapAction="getVouchers" style="document"/>
			<wsdl:input name="getVouchersRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getVouchersResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="verifyUSI">
			<soap:operation soapAction="verifyUSI" style="document"/>
			<wsdl:input name="verifyUSIRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="verifyUSIResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ReplicationService">

		<wsdl:port name="ReplicationPort" binding="tns:ReplicationServiceSoapBinding">
			<soap:address location="https://secure-payment.oncourse.net.au/services/v9/replication" />
		</wsdl:port>

		<wsdl:port name="PaymentPortType" binding="tns:PaymentServiceSoapBinding">
			<soap:address location="https://secure-payment.oncourse.net.au/services/v9/payment" />
		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
