webservices/webservices-web/src/main/wsdl/v4_auth.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AuthenticationService" targetNamespace="http://auth.v4.soap.webservices.oncourse.ish/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://auth.v4.soap.webservices.oncourse.ish/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://auth.v4.soap.webservices.oncourse.ish/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://auth.v4.soap.webservices.oncourse.ish/">
<xs:element name="authenticate" type="tns:authenticate"/>
<xs:element name="authenticateResponse" type="tns:authenticateResponse"/>
<xs:element name="logout" type="tns:logout"/>
<xs:element name="logoutResponse" type="tns:logoutResponse"/>
<xs:complexType name="authenticate">
<xs:sequence>
<xs:element minOccurs="0" name="securityCode" type="xs:string"/>
<xs:element minOccurs="0" name="lastCommunicationKey" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="authenticateResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="logout">
<xs:sequence>
<xs:element minOccurs="0" name="communicationKey" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="logoutResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:status"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="status">
<xs:sequence/>
</xs:complexType>
<xs:element name="AuthenticationFailure" type="tns:AuthenticationFailure"/>
<xs:complexType name="AuthenticationFailure">
<xs:sequence>
<xs:element name="status" nillable="true" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticationFailureException">
    <wsdl:part name="AuthenticationFailureException" element="tns:AuthenticationFailure">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticate">
    <wsdl:part name="parameters" element="tns:authenticate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logout">
    <wsdl:part name="parameters" element="tns:logout">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticateResponse">
    <wsdl:part name="parameters" element="tns:authenticateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="tns:logoutResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AuthenticationPortType">
    <wsdl:operation name="authenticate">
      <wsdl:input name="authenticate" message="tns:authenticate">
    </wsdl:input>
      <wsdl:output name="authenticateResponse" message="tns:authenticateResponse">
    </wsdl:output>
      <wsdl:fault name="AuthenticationFailureException" message="tns:AuthenticationFailureException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input name="logout" message="tns:logout">
    </wsdl:input>
      <wsdl:output name="logoutResponse" message="tns:logoutResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationServiceSoapBinding" type="tns:AuthenticationPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="authenticate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="authenticateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AuthenticationFailureException">
        <soap:fault name="AuthenticationFailureException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="logout">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="logoutResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="AuthenticationPort" binding="tns:AuthenticationServiceSoapBinding">
      <soap:address location="http://localhost:9090/AuthenticationPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
