webservices/webservices-web/src/main/wsdl/v4_reference.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ReferenceService" targetNamespace="http://v4.soap.webservices.oncourse.ish/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://v4.soap.webservices.oncourse.ish/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://v4.soap.webservices.oncourse.ish/" elementFormDefault="unqualified" targetNamespace="http://v4.soap.webservices.oncourse.ish/" version="1.0">
<xs:element name="getMaximumVersion" type="tns:getMaximumVersion"/>
<xs:element name="getMaximumVersionResponse" type="tns:getMaximumVersionResponse"/>
<xs:element name="getRecords" type="tns:getRecords"/>
<xs:element name="getRecordsResponse" type="tns:getRecordsResponse"/>
<xs:complexType name="getMaximumVersion">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getMaximumVersionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRecords">
<xs:sequence>
<xs:element minOccurs="0" name="ishVersion" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRecordsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:soapReferenceStub"/>
</xs:sequence>
</xs:complexType>
<xs:complexType abstract="true" name="soapReferenceStub">
<xs:sequence>
<xs:element minOccurs="0" name="willowId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="countryStub">
<xs:complexContent>
<xs:extension base="tns:soapReferenceStub">
<xs:sequence>
<xs:element minOccurs="0" name="asccssCode" type="xs:string"/>
<xs:element minOccurs="0" name="created" type="xs:dateTime"/>
<xs:element minOccurs="0" name="ishVersion" type="xs:long"/>
<xs:element minOccurs="0" name="isoCodeAlpha2" type="xs:string"/>
<xs:element minOccurs="0" name="isoCodeAlpha3" type="xs:string"/>
<xs:element minOccurs="0" name="isoCodeNumeric" type="xs:int"/>
<xs:element minOccurs="0" name="modified" type="xs:dateTime"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="saccCode" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="languageStub">
<xs:complexContent>
<xs:extension base="tns:soapReferenceStub">
<xs:sequence>
<xs:element minOccurs="0" name="absCode" type="xs:string"/>
<xs:element minOccurs="0" name="created" type="xs:dateTime"/>
<xs:element minOccurs="0" name="isActive" type="xs:boolean"/>
<xs:element minOccurs="0" name="ishVersion" type="xs:long"/>
<xs:element minOccurs="0" name="modified" type="xs:dateTime"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="moduleStub">
<xs:complexContent>
<xs:extension base="tns:soapReferenceStub">
<xs:sequence>
<xs:element minOccurs="0" name="created" type="xs:dateTime"/>
<xs:element minOccurs="0" name="disciplineCode" type="xs:string"/>
<xs:element minOccurs="0" name="fieldOfEducation" type="xs:string"/>
<xs:element minOccurs="0" name="isModule" type="xs:boolean"/>
<xs:element minOccurs="0" name="ishVersion" type="xs:long"/>
<xs:element minOccurs="0" name="modified" type="xs:dateTime"/>
<xs:element minOccurs="0" name="nationalCode" type="xs:string"/>
<xs:element minOccurs="0" name="title" type="xs:string"/>
<xs:element minOccurs="0" name="trainingPackageId" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="qualificationStub">
<xs:complexContent>
<xs:extension base="tns:soapReferenceStub">
<xs:sequence>
<xs:element minOccurs="0" name="anzsco" type="xs:string"/>
<xs:element minOccurs="0" name="anzsic" type="xs:string"/>
<xs:element minOccurs="0" name="asco" type="xs:string"/>
<xs:element minOccurs="0" name="created" type="xs:dateTime"/>
<xs:element minOccurs="0" name="fieldOfEducation" type="xs:string"/>
<xs:element minOccurs="0" name="fieldOfStudy" type="xs:string"/>
<xs:element minOccurs="0" name="isAccreditedCourse" type="xs:boolean"/>
<xs:element minOccurs="0" name="ishVersion" type="xs:long"/>
<xs:element minOccurs="0" name="level" type="xs:string"/>
<xs:element minOccurs="0" name="modified" type="xs:dateTime"/>
<xs:element minOccurs="0" name="nationalCode" type="xs:string"/>
<xs:element minOccurs="0" name="newApprentices" type="xs:string"/>
<xs:element minOccurs="0" name="nominalHours" type="xs:float"/>
<xs:element minOccurs="0" name="reviewDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="title" type="xs:string"/>
<xs:element minOccurs="0" name="trainingPackageId" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="trainingPackageStub">
<xs:complexContent>
<xs:extension base="tns:soapReferenceStub">
<xs:sequence>
<xs:element minOccurs="0" name="copyrightCategory" type="xs:string"/>
<xs:element minOccurs="0" name="copyrightContract" type="xs:string"/>
<xs:element minOccurs="0" name="created" type="xs:dateTime"/>
<xs:element minOccurs="0" name="developer" type="xs:string"/>
<xs:element minOccurs="0" name="endorsementFrom" type="xs:dateTime"/>
<xs:element minOccurs="0" name="endorsementTo" type="xs:dateTime"/>
<xs:element minOccurs="0" name="ishVersion" type="xs:long"/>
<xs:element minOccurs="0" name="modified" type="xs:dateTime"/>
<xs:element minOccurs="0" name="nationalISC" type="xs:string"/>
<xs:element minOccurs="0" name="purchaseFrom" type="xs:string"/>
<xs:element minOccurs="0" name="title" type="xs:string"/>
<xs:element minOccurs="0" name="type" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getRecordsResponse">
    <wsdl:part name="parameters" element="tns:getRecordsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecords">
    <wsdl:part name="parameters" element="tns:getRecords">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMaximumVersionResponse">
    <wsdl:part name="parameters" element="tns:getMaximumVersionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMaximumVersion">
    <wsdl:part name="parameters" element="tns:getMaximumVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ReferencePortType">
    <wsdl:operation name="getMaximumVersion">
      <wsdl:input name="getMaximumVersion" message="tns:getMaximumVersion">
    </wsdl:input>
      <wsdl:output name="getMaximumVersionResponse" message="tns:getMaximumVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecords">
      <wsdl:input name="getRecords" message="tns:getRecords">
    </wsdl:input>
      <wsdl:output name="getRecordsResponse" message="tns:getRecordsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReferenceServiceSoapBinding" type="tns:ReferencePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMaximumVersion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMaximumVersion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMaximumVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecords">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRecords">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecordsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReferenceService">
    <wsdl:port name="ReferencePort" binding="tns:ReferenceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ReferencePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
