admin/src/main/resources/wsdl/production/OrganisationService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://training.gov.au/services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://training.gov.au/services/">
  <xs:import schemaLocation="OrganisationServiceSystem.xsd" namespace="http://schemas.datacontract.org/2004/07/System"/>
  <xs:import schemaLocation="OrganisationServiceArrays.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:import schemaLocation="OrganisationServiceSerialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:simpleType name="ActionOnEntity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Update"/>
      <xs:enumeration value="Delete"/>
      <xs:enumeration value="Add"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ActionOnEntity" nillable="true" type="tns:ActionOnEntity"/>
  <xs:element name="GetDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:OrganisationDetailsRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OrganisationDetailsRequest">
    <xs:sequence>
      <xs:element name="Code" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="InformationRequested" nillable="true" type="tns:OrganisationInformationRequested"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganisationDetailsRequest" nillable="true" type="tns:OrganisationDetailsRequest"/>
  <xs:complexType name="OrganisationInformationRequested">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShowCodes" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ShowContacts" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ShowDataManagers" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ShowExplicitScope" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ShowImplicitScope" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ShowLocations" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ShowRegistrationManagers" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ShowRegistrationPeriods" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ShowResponsibleLegalPersons" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ShowRestrictions" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ShowRtoClassifications" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ShowRtoDeliveryNotification" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ShowTradingNames" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ShowUrls" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganisationInformationRequested" nillable="true" type="tns:OrganisationInformationRequested"/>
  <xs:element name="GetDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDetailsResult" nillable="true" type="tns:Organisation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Organisation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codes" nillable="true" type="tns:ArrayOfOrganisationCode">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfContact">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CreatedDate" type="q1:DateTimeOffset" xmlns:q1="http://schemas.datacontract.org/2004/07/System">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DataManagers" nillable="true" type="tns:ArrayOfDataManagerAssignment">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Locations" nillable="true" type="tns:ArrayOfOrganisationLocation">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ResponsibleLegalPersons" nillable="true" type="tns:ArrayOfResponsibleLegalPerson">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TradingNames" nillable="true" type="tns:ArrayOfTradingName">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UpdatedDate" type="q2:DateTimeOffset" xmlns:q2="http://schemas.datacontract.org/2004/07/System">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Urls" nillable="true" type="tns:ArrayOfUrl">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organisation" nillable="true" type="tns:Organisation"/>
  <xs:complexType name="ArrayOfOrganisationCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganisationCode" nillable="true" type="tns:OrganisationCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganisationCode" nillable="true" type="tns:ArrayOfOrganisationCode"/>
  <xs:complexType name="OrganisationCode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractDto">
        <xs:sequence>
          <xs:element name="Code" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganisationCode" nillable="true" type="tns:OrganisationCode"/>
  <xs:complexType name="AbstractDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionOnEntity" type="tns:ActionOnEntity">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:date">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:date">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractDto" nillable="true" type="tns:AbstractDto"/>
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact"/>
  <xs:complexType name="Contact">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="OrganisationName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="PostalAddress" nillable="true" type="tns:Address"/>
          <xs:element minOccurs="0" name="RoleCode" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact"/>
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Line1" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="StateOverseas" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Suburb" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address"/>
  <xs:complexType name="ArrayOfDataManagerAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataManagerAssignment" nillable="true" type="tns:DataManagerAssignment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataManagerAssignment" nillable="true" type="tns:ArrayOfDataManagerAssignment"/>
  <xs:complexType name="DataManagerAssignment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataManagerAssignment" nillable="true" type="tns:DataManagerAssignment"/>
  <xs:complexType name="ArrayOfOrganisationLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganisationLocation" nillable="true" type="tns:OrganisationLocation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganisationLocation" nillable="true" type="tns:ArrayOfOrganisationLocation"/>
  <xs:complexType name="OrganisationLocation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganisationLocation" nillable="true" type="tns:OrganisationLocation"/>
  <xs:complexType name="ArrayOfResponsibleLegalPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponsibleLegalPerson" nillable="true" type="tns:ResponsibleLegalPerson"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponsibleLegalPerson" nillable="true" type="tns:ArrayOfResponsibleLegalPerson"/>
  <xs:complexType name="ResponsibleLegalPerson">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abns" nillable="true" type="q3:ArrayOfstring" xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Acn" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Name" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponsibleLegalPerson" nillable="true" type="tns:ResponsibleLegalPerson"/>
  <xs:complexType name="ArrayOfTradingName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TradingName" nillable="true" type="tns:TradingName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTradingName" nillable="true" type="tns:ArrayOfTradingName"/>
  <xs:complexType name="TradingName">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TradingName" nillable="true" type="tns:TradingName"/>
  <xs:complexType name="ArrayOfUrl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Url" nillable="true" type="tns:Url"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUrl" nillable="true" type="tns:ArrayOfUrl"/>
  <xs:complexType name="Url">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractDto">
        <xs:sequence>
          <xs:element name="Link" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Url" nillable="true" type="tns:Url"/>
  <xs:complexType name="Rto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Organisation">
        <xs:sequence>
          <xs:element minOccurs="0" name="Classifications" nillable="true" type="tns:ArrayOfClassification">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DeliveryNotifications" nillable="true" type="tns:ArrayOfDeliveryNotification">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RegistrationManagers" nillable="true" type="tns:ArrayOfRegistrationManagerAssignment">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RegistrationPeriods" nillable="true" type="tns:ArrayOfRegistrationPeriod">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Restrictions" nillable="true" type="tns:ArrayOfRtoRestriction">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Scopes" nillable="true" type="tns:ArrayOfScope">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Rto" nillable="true" type="tns:Rto"/>
  <xs:complexType name="ArrayOfClassification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Classification" nillable="true" type="tns:Classification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClassification" nillable="true" type="tns:ArrayOfClassification"/>
  <xs:complexType name="Classification">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractDto">
        <xs:sequence>
          <xs:element name="PurposeCode" nillable="true" type="xs:string"/>
          <xs:element name="SchemeCode" nillable="true" type="xs:string"/>
          <xs:element name="ValueCode" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Classification" nillable="true" type="tns:Classification"/>
  <xs:complexType name="ArrayOfDeliveryNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryNotification" nillable="true" type="tns:DeliveryNotification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryNotification" nillable="true" type="tns:ArrayOfDeliveryNotification"/>
  <xs:complexType name="DeliveryNotification">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionOnEntity" type="tns:ActionOnEntity">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateOfChange" type="xs:date"/>
      <xs:element name="GeographicAreas" nillable="true" type="tns:ArrayOfDeliveryNotificationGeographicArea"/>
      <xs:element name="IsCessation" type="xs:boolean"/>
      <xs:element name="NotificationDate" type="xs:date"/>
      <xs:element minOccurs="0" name="Scopes" nillable="true" type="tns:ArrayOfDeliveryNotificationScope"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryNotification" nillable="true" type="tns:DeliveryNotification"/>
  <xs:complexType name="ArrayOfDeliveryNotificationGeographicArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryNotificationGeographicArea" nillable="true" type="tns:DeliveryNotificationGeographicArea"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryNotificationGeographicArea" nillable="true" type="tns:ArrayOfDeliveryNotificationGeographicArea"/>
  <xs:complexType name="DeliveryNotificationGeographicArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryNotificationGeographicArea" nillable="true" type="tns:DeliveryNotificationGeographicArea"/>
  <xs:complexType name="ArrayOfDeliveryNotificationScope">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryNotificationScope" nillable="true" type="tns:DeliveryNotificationScope"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryNotificationScope" nillable="true" type="tns:ArrayOfDeliveryNotificationScope"/>
  <xs:complexType name="DeliveryNotificationScope">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TrainingComponentType" type="tns:TrainingComponentTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryNotificationScope" nillable="true" type="tns:DeliveryNotificationScope"/>
  <xs:simpleType name="TrainingComponentTypes">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="AccreditedCourse">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Qualification">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Unit">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="SkillSet">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="UnitContextualisation">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="TrainingPackage">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="AccreditedCourseModule">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="All">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">127</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="TrainingComponentTypes" nillable="true" type="tns:TrainingComponentTypes"/>
  <xs:complexType name="ArrayOfRegistrationManagerAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegistrationManagerAssignment" nillable="true" type="tns:RegistrationManagerAssignment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistrationManagerAssignment" nillable="true" type="tns:ArrayOfRegistrationManagerAssignment"/>
  <xs:complexType name="RegistrationManagerAssignment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrationManagerAssignment" nillable="true" type="tns:RegistrationManagerAssignment"/>
  <xs:complexType name="ArrayOfRegistrationPeriod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegistrationPeriod" nillable="true" type="tns:RegistrationPeriod"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistrationPeriod" nillable="true" type="tns:ArrayOfRegistrationPeriod"/>
  <xs:complexType name="RegistrationPeriod">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndReasonCode" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="EndReasonComments" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Exerciser" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="LegalAuthority" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrationPeriod" nillable="true" type="tns:RegistrationPeriod"/>
  <xs:complexType name="ArrayOfRtoRestriction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RtoRestriction" nillable="true" type="tns:RtoRestriction"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRtoRestriction" nillable="true" type="tns:ArrayOfRtoRestriction"/>
  <xs:complexType name="RtoRestriction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Restriction" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RtoRestriction" nillable="true" type="tns:RtoRestriction"/>
  <xs:complexType name="ArrayOfScope">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Scope" nillable="true" type="tns:Scope"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScope" nillable="true" type="tns:ArrayOfScope"/>
  <xs:complexType name="Scope">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExtentCode" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="IsImplicit" type="xs:boolean"/>
          <xs:element minOccurs="0" name="IsRefused" type="xs:boolean"/>
          <xs:element minOccurs="0" name="NrtCode" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="TrainingComponentType" type="tns:TrainingComponentTypes"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Scope" nillable="true" type="tns:Scope"/>
  <xs:complexType name="ValidationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfValidationError"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationFault" nillable="true" type="tns:ValidationFault"/>
  <xs:complexType name="ArrayOfValidationError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationError" nillable="true" type="tns:ValidationError"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValidationError" nillable="true" type="tns:ArrayOfValidationError"/>
  <xs:complexType name="ValidationError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Severity" type="tns:ValidationErrorSeverity"/>
      <xs:element minOccurs="0" name="SubCode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ValidationTarget" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationError" nillable="true" type="tns:ValidationError"/>
  <xs:simpleType name="ValidationErrorSeverity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Warning"/>
      <xs:enumeration value="Error"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ValidationErrorSeverity" nillable="true" type="tns:ValidationErrorSeverity"/>
  <xs:element name="SearchByScope">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:OrganisationScopeSearchRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OrganisationScopeSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractPageRequest">
        <xs:sequence>
          <xs:element name="Filter" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="IncludeImplicitScope" type="xs:boolean"/>
          <xs:element minOccurs="0" name="RegistrationManagers" nillable="true" type="q4:ArrayOfstring" xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
          <xs:element minOccurs="0" name="SearchTrainingPackageContents" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganisationScopeSearchRequest" nillable="true" type="tns:OrganisationScopeSearchRequest"/>
  <xs:complexType name="AbstractPageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="PageSize" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractPageRequest" nillable="true" type="tns:AbstractPageRequest"/>
  <xs:complexType name="OrganisationNameSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractPageRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClassificationFilters" nillable="true" type="tns:ClassificationFilters"/>
          <xs:element minOccurs="0" name="CurrentNamesOnly" type="xs:boolean"/>
          <xs:element minOccurs="0" name="ExcludeNotRtos" type="xs:boolean"/>
          <xs:element minOccurs="0" name="ExcludeRtoWithoutActiveRegistration" type="xs:boolean"/>
          <xs:element name="Filter" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="IncludeCode" type="xs:boolean"/>
          <xs:element minOccurs="0" name="RegistrationManagers" nillable="true" type="q5:ArrayOfstring" xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganisationNameSearchRequest" nillable="true" type="tns:OrganisationNameSearchRequest"/>
  <xs:complexType name="ClassificationFilters">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClassificationFilter">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Scheme" nillable="true" type="xs:string"/>
            <xs:element name="Values" nillable="true" type="q6:ArrayOfstring" xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassificationFilters" nillable="true" type="tns:ClassificationFilters"/>
  <xs:complexType name="TrainingComponentModifiedSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractPageRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataManagerFilter" nillable="true" type="q7:ArrayOfstring" xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="q8:DateTimeOffset" xmlns:q8="http://schemas.datacontract.org/2004/07/System"/>
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="q9:DateTimeOffset" xmlns:q9="http://schemas.datacontract.org/2004/07/System"/>
          <xs:element minOccurs="0" name="TrainingComponentTypes" nillable="true" type="tns:TrainingComponentTypeFilter"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrainingComponentModifiedSearchRequest" nillable="true" type="tns:TrainingComponentModifiedSearchRequest"/>
  <xs:complexType name="TrainingComponentTypeFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="IncludeAccreditedCourse" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IncludeAccreditedCourseModule" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IncludeQualification" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IncludeSkillSet" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IncludeTrainingPackage" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IncludeUnit" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IncludeUnitContextualisation" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrainingComponentTypeFilter" nillable="true" type="tns:TrainingComponentTypeFilter"/>
  <xs:complexType name="TrainingComponentSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractPageRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClassificationFilters" nillable="true" type="tns:ClassificationFilters"/>
          <xs:element name="Filter" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="IncludeDeleted" type="xs:boolean"/>
          <xs:element minOccurs="0" name="IncludeSuperseeded" type="xs:boolean"/>
          <xs:element minOccurs="0" name="SearchCode" type="xs:boolean"/>
          <xs:element minOccurs="0" name="SearchTitle" type="xs:boolean"/>
          <xs:element minOccurs="0" name="TrainingComponentTypes" nillable="true" type="tns:TrainingComponentTypeFilter"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrainingComponentSearchRequest" nillable="true" type="tns:TrainingComponentSearchRequest"/>
  <xs:element name="SearchByScopeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchByScopeResult" nillable="true" type="tns:OrganisationSearchResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OrganisationSearchResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SearchResult">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganisationSearchResult" nillable="true" type="tns:OrganisationSearchResult"/>
  <xs:complexType name="SearchResult">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="SearchResult" Namespace="http://training.gov.au/services/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OrganisationSearchResultItem" Namespace="http://training.gov.au/services/"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int"/>
      <xs:element minOccurs="0" name="PageNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="PageSize" type="xs:int"/>
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfOrganisationSearchResultItem"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResult" nillable="true" type="tns:SearchResult"/>
  <xs:complexType name="ArrayOfOrganisationSearchResultItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganisationSearchResultItem" nillable="true" type="tns:OrganisationSearchResultItem"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganisationSearchResultItem" nillable="true" type="tns:ArrayOfOrganisationSearchResultItem"/>
  <xs:complexType name="OrganisationSearchResultItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DataManagerCode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="HasActiveRegistration" type="xs:boolean"/>
      <xs:element minOccurs="0" name="LegalPersonName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TradingName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UpdatedDate" type="q10:DateTimeOffset" xmlns:q10="http://schemas.datacontract.org/2004/07/System"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganisationSearchResultItem" nillable="true" type="tns:OrganisationSearchResultItem"/>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:OrganisationNameSearchRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchResult" nillable="true" type="tns:OrganisationSearchResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByModifiedDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:OrganisationModifiedSearchRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OrganisationModifiedSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractPageRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataManagerFilter" nillable="true" type="q11:ArrayOfstring" xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="q12:DateTimeOffset" xmlns:q12="http://schemas.datacontract.org/2004/07/System"/>
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="q13:DateTimeOffset" xmlns:q13="http://schemas.datacontract.org/2004/07/System"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganisationModifiedSearchRequest" nillable="true" type="tns:OrganisationModifiedSearchRequest"/>
  <xs:element name="SearchByModifiedDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchByModifiedDateResult" nillable="true" type="tns:OrganisationSearchResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDeletedByDeletedDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:DeletedSearchRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DeletedSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractPageRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="q14:DateTimeOffset" xmlns:q14="http://schemas.datacontract.org/2004/07/System"/>
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="q15:DateTimeOffset" xmlns:q15="http://schemas.datacontract.org/2004/07/System"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeletedSearchRequest" nillable="true" type="tns:DeletedSearchRequest"/>
  <xs:element name="SearchDeletedByDeletedDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchDeletedByDeletedDateResult" nillable="true" type="tns:ArrayOfDeletedOrganisation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfDeletedOrganisation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeletedOrganisation" nillable="true" type="tns:DeletedOrganisation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeletedOrganisation" nillable="true" type="tns:ArrayOfDeletedOrganisation"/>
  <xs:complexType name="DeletedOrganisation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Operation" type="tns:DeleteOperation"/>
      <xs:element minOccurs="0" name="OrganisationCode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="UpdatedDate" type="q16:DateTimeOffset" xmlns:q16="http://schemas.datacontract.org/2004/07/System"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeletedOrganisation" nillable="true" type="tns:DeletedOrganisation"/>
  <xs:simpleType name="DeleteOperation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PhysicalDelete">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LogicalDelete">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DeleteOperation" nillable="true" type="tns:DeleteOperation"/>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:RtoUpdateRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RtoUpdateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassificationList" nillable="true" type="tns:ClassificationList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Code" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CodeList" nillable="true" type="tns:OrganisationCodeList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ContactList" nillable="true" type="tns:ContactList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DeliveryNotificationList" nillable="true" type="tns:DeliveryNotificationList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="LocationList" nillable="true" type="tns:LocationList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RegistrationPeriodList" nillable="true" type="tns:RegistrationPeriodList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ResponsibleLegalPersonList" nillable="true" type="tns:ResponsibleLegalPersonList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RestrictionList" nillable="true" type="tns:RestrictionList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ScopeList" nillable="true" type="tns:ScopeList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TradingNameList" nillable="true" type="tns:TradingNameList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UrlList" nillable="true" type="tns:UrlList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RtoUpdateRequest" nillable="true" type="tns:RtoUpdateRequest"/>
  <xs:complexType name="ClassificationList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GenericListPropertyOfClassificationRtoClassification8TYN1aE7">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClassificationList" nillable="true" type="tns:ClassificationList"/>
  <xs:complexType name="GenericListPropertyOfClassificationRtoClassification8TYN1aE7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericListPropertyOf{0}{1}{#}" Namespace="http://training.gov.au/services/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Classification" Namespace="http://training.gov.au/services/"/>
          <GenericParameter Name="RtoClassification" Namespace="http://schemas.datacontract.org/2004/07/Deewr.Tga.Model"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActionOnCollection" type="tns:ActionOnCollection"/>
      <xs:element name="List" nillable="true" type="tns:ArrayOfClassification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericListPropertyOfClassificationRtoClassification8TYN1aE7" nillable="true" type="tns:GenericListPropertyOfClassificationRtoClassification8TYN1aE7"/>
  <xs:simpleType name="ActionOnCollection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Current"/>
      <xs:enumeration value="Replace"/>
      <xs:enumeration value="Granular"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ActionOnCollection" nillable="true" type="tns:ActionOnCollection"/>
  <xs:complexType name="OrganisationCodeList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GenericListPropertyOfOrganisationCodeOrganisationCode8TYN1aE7">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganisationCodeList" nillable="true" type="tns:OrganisationCodeList"/>
  <xs:complexType name="GenericListPropertyOfOrganisationCodeOrganisationCode8TYN1aE7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericListPropertyOf{0}{1}{#}" Namespace="http://training.gov.au/services/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OrganisationCode" Namespace="http://training.gov.au/services/"/>
          <GenericParameter Name="OrganisationCode" Namespace="http://schemas.datacontract.org/2004/07/Deewr.Tga.Model"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActionOnCollection" type="tns:ActionOnCollection"/>
      <xs:element name="List" nillable="true" type="tns:ArrayOfOrganisationCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericListPropertyOfOrganisationCodeOrganisationCode8TYN1aE7" nillable="true" type="tns:GenericListPropertyOfOrganisationCodeOrganisationCode8TYN1aE7"/>
  <xs:complexType name="ContactList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GenericListPropertyOfContactContact8TYN1aE7">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactList" nillable="true" type="tns:ContactList"/>
  <xs:complexType name="GenericListPropertyOfContactContact8TYN1aE7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericListPropertyOf{0}{1}{#}" Namespace="http://training.gov.au/services/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Contact" Namespace="http://training.gov.au/services/"/>
          <GenericParameter Name="Contact" Namespace="http://schemas.datacontract.org/2004/07/Deewr.Tga.Model"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActionOnCollection" type="tns:ActionOnCollection"/>
      <xs:element name="List" nillable="true" type="tns:ArrayOfContact"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericListPropertyOfContactContact8TYN1aE7" nillable="true" type="tns:GenericListPropertyOfContactContact8TYN1aE7"/>
  <xs:complexType name="DeliveryNotificationList">
    <xs:sequence>
      <xs:element name="ActionOnCollection" type="tns:ActionOnCollection"/>
      <xs:element name="List" nillable="true" type="tns:ArrayOfDeliveryNotification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryNotificationList" nillable="true" type="tns:DeliveryNotificationList"/>
  <xs:complexType name="LocationList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GenericListPropertyOfOrganisationLocationOrganisationLocation8TYN1aE7">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocationList" nillable="true" type="tns:LocationList"/>
  <xs:complexType name="GenericListPropertyOfOrganisationLocationOrganisationLocation8TYN1aE7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericListPropertyOf{0}{1}{#}" Namespace="http://training.gov.au/services/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OrganisationLocation" Namespace="http://training.gov.au/services/"/>
          <GenericParameter Name="OrganisationLocation" Namespace="http://schemas.datacontract.org/2004/07/Deewr.Tga.Model"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActionOnCollection" type="tns:ActionOnCollection"/>
      <xs:element name="List" nillable="true" type="tns:ArrayOfOrganisationLocation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericListPropertyOfOrganisationLocationOrganisationLocation8TYN1aE7" nillable="true" type="tns:GenericListPropertyOfOrganisationLocationOrganisationLocation8TYN1aE7"/>
  <xs:complexType name="RegistrationPeriodList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GenericListPropertyOfRegistrationPeriodRtoRegistrationPeriod8TYN1aE7">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrationPeriodList" nillable="true" type="tns:RegistrationPeriodList"/>
  <xs:complexType name="GenericListPropertyOfRegistrationPeriodRtoRegistrationPeriod8TYN1aE7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericListPropertyOf{0}{1}{#}" Namespace="http://training.gov.au/services/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RegistrationPeriod" Namespace="http://training.gov.au/services/"/>
          <GenericParameter Name="RtoRegistrationPeriod" Namespace="http://schemas.datacontract.org/2004/07/Deewr.Tga.Model"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActionOnCollection" type="tns:ActionOnCollection"/>
      <xs:element name="List" nillable="true" type="tns:ArrayOfRegistrationPeriod"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericListPropertyOfRegistrationPeriodRtoRegistrationPeriod8TYN1aE7" nillable="true" type="tns:GenericListPropertyOfRegistrationPeriodRtoRegistrationPeriod8TYN1aE7"/>
  <xs:complexType name="ResponsibleLegalPersonList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GenericListPropertyOfResponsibleLegalPersonResponsibleLegalPerson8TYN1aE7">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponsibleLegalPersonList" nillable="true" type="tns:ResponsibleLegalPersonList"/>
  <xs:complexType name="GenericListPropertyOfResponsibleLegalPersonResponsibleLegalPerson8TYN1aE7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericListPropertyOf{0}{1}{#}" Namespace="http://training.gov.au/services/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ResponsibleLegalPerson" Namespace="http://training.gov.au/services/"/>
          <GenericParameter Name="ResponsibleLegalPerson" Namespace="http://schemas.datacontract.org/2004/07/Deewr.Tga.Model"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActionOnCollection" type="tns:ActionOnCollection"/>
      <xs:element name="List" nillable="true" type="tns:ArrayOfResponsibleLegalPerson"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericListPropertyOfResponsibleLegalPersonResponsibleLegalPerson8TYN1aE7" nillable="true" type="tns:GenericListPropertyOfResponsibleLegalPersonResponsibleLegalPerson8TYN1aE7"/>
  <xs:complexType name="RestrictionList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GenericListPropertyOfRtoRestrictionRtoRestriction8TYN1aE7">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RestrictionList" nillable="true" type="tns:RestrictionList"/>
  <xs:complexType name="GenericListPropertyOfRtoRestrictionRtoRestriction8TYN1aE7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericListPropertyOf{0}{1}{#}" Namespace="http://training.gov.au/services/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RtoRestriction" Namespace="http://training.gov.au/services/"/>
          <GenericParameter Name="RtoRestriction" Namespace="http://schemas.datacontract.org/2004/07/Deewr.Tga.Model"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActionOnCollection" type="tns:ActionOnCollection"/>
      <xs:element name="List" nillable="true" type="tns:ArrayOfRtoRestriction"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericListPropertyOfRtoRestrictionRtoRestriction8TYN1aE7" nillable="true" type="tns:GenericListPropertyOfRtoRestrictionRtoRestriction8TYN1aE7"/>
  <xs:complexType name="ScopeList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GenericListPropertyOfScopeRtoScope8TYN1aE7">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScopeList" nillable="true" type="tns:ScopeList"/>
  <xs:complexType name="GenericListPropertyOfScopeRtoScope8TYN1aE7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericListPropertyOf{0}{1}{#}" Namespace="http://training.gov.au/services/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Scope" Namespace="http://training.gov.au/services/"/>
          <GenericParameter Name="RtoScope" Namespace="http://schemas.datacontract.org/2004/07/Deewr.Tga.Model"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActionOnCollection" type="tns:ActionOnCollection"/>
      <xs:element name="List" nillable="true" type="tns:ArrayOfScope"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericListPropertyOfScopeRtoScope8TYN1aE7" nillable="true" type="tns:GenericListPropertyOfScopeRtoScope8TYN1aE7"/>
  <xs:complexType name="TradingNameList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GenericListPropertyOfTradingNameTradingName8TYN1aE7">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TradingNameList" nillable="true" type="tns:TradingNameList"/>
  <xs:complexType name="GenericListPropertyOfTradingNameTradingName8TYN1aE7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericListPropertyOf{0}{1}{#}" Namespace="http://training.gov.au/services/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TradingName" Namespace="http://training.gov.au/services/"/>
          <GenericParameter Name="TradingName" Namespace="http://schemas.datacontract.org/2004/07/Deewr.Tga.Model"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActionOnCollection" type="tns:ActionOnCollection"/>
      <xs:element name="List" nillable="true" type="tns:ArrayOfTradingName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericListPropertyOfTradingNameTradingName8TYN1aE7" nillable="true" type="tns:GenericListPropertyOfTradingNameTradingName8TYN1aE7"/>
  <xs:complexType name="UrlList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GenericListPropertyOfUrlOrganisationUrl8TYN1aE7">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UrlList" nillable="true" type="tns:UrlList"/>
  <xs:complexType name="GenericListPropertyOfUrlOrganisationUrl8TYN1aE7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericListPropertyOf{0}{1}{#}" Namespace="http://training.gov.au/services/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Url" Namespace="http://training.gov.au/services/"/>
          <GenericParameter Name="OrganisationUrl" Namespace="http://schemas.datacontract.org/2004/07/Deewr.Tga.Model"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActionOnCollection" type="tns:ActionOnCollection"/>
      <xs:element name="List" nillable="true" type="tns:ArrayOfUrl"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericListPropertyOfUrlOrganisationUrl8TYN1aE7" nillable="true" type="tns:GenericListPropertyOfUrlOrganisationUrl8TYN1aE7"/>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rto" nillable="true" type="tns:Rto"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrganisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtoDto" nillable="true" type="tns:Organisation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrganisationResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferDataManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transferDataManagerRequest" nillable="true" type="tns:TransferDataManagerRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TransferDataManagerRequest">
    <xs:sequence>
      <xs:element name="DataManagerCode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:date">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganisationCode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="RegistrationManagerCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransferDataManagerRequest" nillable="true" type="tns:TransferDataManagerRequest"/>
  <xs:element name="TransferDataManagerResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteRequest" nillable="true" type="tns:DeleteRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DeleteRequest">
    <xs:sequence>
      <xs:element name="Code" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteRequest" nillable="true" type="tns:DeleteRequest"/>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:LookupRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="LookupRequest">
    <xs:sequence>
      <xs:element name="LookupName" type="tns:LookupName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookupRequest" nillable="true" type="tns:LookupRequest"/>
  <xs:simpleType name="LookupName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Country"/>
      <xs:enumeration value="ContactType"/>
      <xs:enumeration value="RegistrationEndReason"/>
      <xs:enumeration value="ScopeExtent"/>
      <xs:enumeration value="TrainingComponentReleaseCurrency"/>
      <xs:enumeration value="TrainingComponentUsageRecommendation"/>
      <xs:enumeration value="TrainingComponentType"/>
      <xs:enumeration value="ClassificationPurpose"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LookupName" nillable="true" type="tns:LookupName"/>
  <xs:element name="GetLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLookupResult" nillable="true" type="tns:ArrayOfLookup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfLookup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lookup" nillable="true" type="tns:Lookup"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLookup" nillable="true" type="tns:ArrayOfLookup"/>
  <xs:complexType name="Lookup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lookup" nillable="true" type="tns:Lookup"/>
  <xs:element name="GetAddressStates">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressStatesResult" nillable="true" type="tns:ArrayOfAddressStates"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfAddressStates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressStates" nillable="true" type="tns:AddressStates"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressStates" nillable="true" type="tns:ArrayOfAddressStates"/>
  <xs:complexType name="AddressStates">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbreviation" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressStates" nillable="true" type="tns:AddressStates"/>
  <xs:element name="GetContactRoles">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContactRolesResult" nillable="true" type="tns:ArrayOfOrganisationContactRole"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOrganisationContactRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganisationContactRole" nillable="true" type="tns:OrganisationContactRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganisationContactRole" nillable="true" type="tns:ArrayOfOrganisationContactRole"/>
  <xs:complexType name="OrganisationContactRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowGroupContact" type="xs:boolean"/>
      <xs:element minOccurs="0" name="AllowMultipleCurrent" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="IsRequired" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IsRequiredRto" type="xs:boolean"/>
      <xs:element minOccurs="0" name="MustCoverRegistrationPeriod" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganisationContactRole" nillable="true" type="tns:OrganisationContactRole"/>
  <xs:element name="GetDataManagers">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataManagersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataManagersResult" nillable="true" type="tns:ArrayOfDataManager"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfDataManager">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataManager" nillable="true" type="tns:DataManager"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataManager" nillable="true" type="tns:ArrayOfDataManager"/>
  <xs:complexType name="DataManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="RecognitionManagerCode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="RegistrationManagerCode" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataManager" nillable="true" type="tns:DataManager"/>
  <xs:element name="GetRegistrationManagers">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrationManagersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRegistrationManagersResult" nillable="true" type="tns:ArrayOfRegistrationManager"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfRegistrationManager">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegistrationManager" nillable="true" type="tns:RegistrationManager"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistrationManager" nillable="true" type="tns:ArrayOfRegistrationManager"/>
  <xs:complexType name="RegistrationManager">
    <xs:sequence>
      <xs:element name="Code" nillable="true" type="xs:string"/>
      <xs:element name="Description" nillable="true" type="xs:string"/>
      <xs:element name="ShortName" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationManager" nillable="true" type="tns:RegistrationManager"/>
  <xs:element name="GetClassificationSchemes">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassificationSchemesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClassificationSchemesResult" nillable="true" type="tns:ArrayOfRtoClassificationSchemeResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfRtoClassificationSchemeResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RtoClassificationSchemeResult" nillable="true" type="tns:RtoClassificationSchemeResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRtoClassificationSchemeResult" nillable="true" type="tns:ArrayOfRtoClassificationSchemeResult"/>
  <xs:complexType name="RtoClassificationSchemeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowMultipleValues" type="xs:boolean"/>
      <xs:element name="ClassificationValues" nillable="true" type="tns:ArrayOfClassificationValue"/>
      <xs:element name="Description" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="IsProtected" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IsRequired" type="xs:boolean"/>
      <xs:element name="Name" nillable="true" type="xs:string"/>
      <xs:element name="SchemeCode" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RtoClassificationSchemeResult" nillable="true" type="tns:RtoClassificationSchemeResult"/>
  <xs:complexType name="ArrayOfClassificationValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClassificationValue" nillable="true" type="tns:ClassificationValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClassificationValue" nillable="true" type="tns:ArrayOfClassificationValue"/>
  <xs:complexType name="ClassificationValue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractDto">
        <xs:sequence>
          <xs:element name="Description" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="DisplayOrder" type="xs:int"/>
          <xs:element name="Name" nillable="true" type="xs:string"/>
          <xs:element name="Value" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClassificationValue" nillable="true" type="tns:ClassificationValue"/>
  <xs:element name="GetClassificationPurposes">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassificationPurposesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClassificationPurposesResult" nillable="true" type="tns:ArrayOfClassificationPurpose"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfClassificationPurpose">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClassificationPurpose" nillable="true" type="tns:ClassificationPurpose"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClassificationPurpose" nillable="true" type="tns:ArrayOfClassificationPurpose"/>
  <xs:complexType name="ClassificationPurpose">
    <xs:sequence>
      <xs:element name="Description" nillable="true" type="xs:string"/>
      <xs:element name="PurposeCode" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassificationPurpose" nillable="true" type="tns:ClassificationPurpose"/>
  <xs:element name="GetServerTime">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerTimeResult" type="xs:dateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidationCodes">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidationCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValidationCodesResult" nillable="true" type="tns:ArrayOfValidationCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfValidationCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationCode" nillable="true" type="tns:ValidationCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValidationCode" nillable="true" type="tns:ArrayOfValidationCode"/>
  <xs:complexType name="ValidationCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="SubCode" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationCode" nillable="true" type="tns:ValidationCode"/>
  <xs:element name="CreateCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createCodeRequest" nillable="true" type="tns:CreateCodeRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CreateCodeRequest">
    <xs:sequence>
      <xs:element name="DataManagerCode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Duration" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateCodeRequest" nillable="true" type="tns:CreateCodeRequest"/>
  <xs:element name="CreateCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCodeResult" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>